@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-800;
}

::-webkit-scrollbar {
  background-color: #282828;
  width: 15px;
  height: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
  }
